@keyframes slideinS {
  from {
    padding: 20%;
  }

  to {
    padding: 0%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./imagens/neon.jpg');
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  color: #fff;
  margin: 20px 0;
}


.area-geral {
  display: flex;
  justify-content: center;
  align-items: center;
}


.player1 {
  width: 120px;
  height: 120px;
  background-color: rgba(87, 164, 167);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;

}

.player2{
  width: 120px;
  height: 120px;
  background-color: rgb(117, 72, 202);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 26px;
  box-shadow: rgba(74, 132, 179, 0) 0px 1px 3px 1px;
}


element.style{ 
  animation-name: none;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.player1 img,.player2 img {
  width: 95px;
  height: 95px;
  
}

.animationW {
  animation-duration: 3s;
  animation-name: slideinS;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.area {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  border: 0px solid rgba(36, 163, 180, 0.548);
  margin-left: 30px;
  margin-right: 30px;
}

.area .item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.item:hover {
  background-color: rgba(36, 163, 180, 0.548);
}

.item.t {
  border-top: 2px solid rgba(36, 163, 180, 0.548);
}
.item.l {
  border-left: 2px solid rgba(36, 163, 180, 0.548);
}
.item.r {
  border-right: 2px solid rgba(36, 163, 180, 0.548);
}
.item.b {
  border-bottom: 2px solid rgba(36, 163, 180, 0.548);
}

.info {
  width: 300px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: 3px double;
  background-color: rgba(77, 161, 189, 0.301);
  
  padding: 10px;
}
.infoitem {
  flex: 1;
}
.infotitulo {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.infocorpo {
  text-align: center;
  color: #ffff00 ;
  font-size: 20px;
}

.reset {
  border: 3px solid;
  background-color: #fff);
  color: #5555dd;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 26px;
  border-radius: 8px;
  
  
}

.reset:hover {
  background: rgba(53, 206, 226, 0.473);
  line-height: 1.5;
  font: 700 1,2rem 'Roboto Slab' sans-serif;
  cursor: pointer;
  padding: 1em 2em;
  letter-spacing: 0.05rem;

  &:focus { outline:  2px dotted #5555dd;}
}


@media (max-width: 500px) {

  .player1{
    position: absolute;
    left: 0px;
    bottom: 15px;
    margin-left: 10px;
    margin-top: 15px;
  }

  .player2{
    position: absolute;
    right: 0px;
    bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
  }

  .info, .reset {
    margin-top: 30px;
    margin-bottom: 50px;
    
  }
}
